/* Carousel*/

.carousel-item {
    background-size: cover;
    background-position: center center;
}

.carousel-indicators li {
    width: 30px;
    height: 30px;
    margin: 0 15px;
    border-radius: 2px;
    opacity: 1;
}

.carousel-indicators .active{
    background-color: $color-primary;
}

.carousel-inner {
    max-height: 462px;
}


/*Tabs*/

@media(max-width: 750px) {
    .tabs{
        display: none;
    }
}

.nav-link-tabs {
    border-radius: 10px;
    min-width: 118px;
    min-height: 60px;
    text-align: center;
    color: $color-primary;
    border: 0px !important;
    display: flex;
    justify-content: center;
    font-size: 19px;
    padding-top: 10px;
}

.tab-pane {
    height: 280px;
    border-radius: 10px;
    margin-top: -10px;
}

.tab-pane img {
    max-width: 250px;
    max-height: 200px;
    margin-left: 20px;
}

.tab-content>.active {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 40px;
}

.social-media-tab {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-transform: uppercase;
    margin-top: 40px;
}

.social-tab-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 4px;
}

/* Accordion */

@media (min-width:750px) {
    .accordion {
        display: none;
    }
}

.accordion {
    margin-top: 35px;
}

.card-header {
    background-color: $color-white;
    border-bottom: solid 3px $color-primary;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
}

.card-body img {
    max-height: 175px;
    max-width: 280px;
}

.social-media-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-transform: uppercase;
    margin-top: 10px;
}

.social-card-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 4px;
}

.btn-link {
    color: $color-primary;
}

