/* Carousel*/

.carousel-item {
    background-size: cover;
    background-position: center center;
}

.carousel-indicators li {
    width: 30px;
    height: 30px;
    margin: 0 15px;
    border-radius: 2px;
    opacity: 1;
}

.carousel-indicators .active{
    background-color: $color-primary;
}

.carousel-inner {
    max-height: 462px;
}


/* Accordion */

.accordion {
    margin-top: 35px;
}

.card-header {
    background-color: $color-white;
    border-bottom: solid 3px $color-primary;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
}

.card-body img {
    max-height: 175px;
    max-width: 280px;
}

.social-media-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-transform: uppercase;
    margin-top: 10px;
}

.social-card-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 4px;
}

.btn-link {
    color: $color-primary;
}