.navbar {
    background-color: $color-nav !important;
    font-size: 18px;
}

.navbar-brand{
    color: $color-primary !important;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
}

.active {
    background-color: $color-white;
    border-radius: 3px; 
}

.form-control {
    border-radius: 4px 0px 0px 4px;
}

.btn-go {
    background-color: $color-primary;
    color: $color-white;
    border-radius: 0px 4px 4px 0px;
}
  