h1 {
    font-size: 34px;
    color: $color-primary;
    font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: $color-text;
}

a:hover {
    text-decoration: none;
    color: $color-primary;
}




