$color-nav: #EFEFEF;
$color-primary: #E92569;
$color-text: #767676;
$color-navtext: #0A0A0A;
$color-white: #FFFFFF;
$color-grading: #E5E5E5;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap');
